
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}


.list{
    font-family: roboto;
    font-size: 22px ;
    font-weight: 400;
}
.head{
    font-family: roboto;
    font-size: 72px;
    font-weight: 700;
}
span{
    color: #5E3BEE;

}
.para{
    font-family: roboto;
    font-size: 24px;
    font-weight: 400;
}
.different{
    font-family: roboto;
    font-size: 21px;
    font-weight: 600;
}
header button{
    border: 1 solid #5E3BEE;
    color: #5E3BEE;
}
section .container button {
    background-color: #5E3BEE;
}
.home{
    color: #5E3BEE;
}